body{
	padding-top: 100px;
}
#myPic{
	display: block;
	margin: 0 auto;
	height: 280px;
	width: 280px;
	border-radius: 150px;

}
#namePortion{
	text-align: center;
	font-size: 40px;
}
.about{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 110%;

}
footer{

	position: relative;
	bottom: 0;
	float: right;
	text-align: right;
	right: 50px;
}